.over{
    overflow: hidden;
}
.doctorCart{
    background-image: linear-gradient(rgb(123, 190, 253), rgb(206, 235, 248));
}

.doctorCart img {
    width: 250px;
    height: 250px;
    border-radius: 180px;

}


.textImg-DIv{
    display: flex;
    
}

@media screen and (max-width: 688px) {
    .textImg-DIv{

        display: block;
        
    }
    
  }

